web:
  build: ./web
  ports:
    - "8000:80"
    - "3000:3000"
  links:
    - db
    - memcached
    - elasticsearch
  volumes:
    - ./src/yourgreatapp:/var/www/yourgreatapp/public

db:
  build: ./db
  environment:
    MYSQL_ROOT_PASSWORD: ROOT_PASSWORD
    MYSQL_DATABASE: yourgreatapp
    MYSQL_USER: yourgreatapp
    MYSQL_PASSWORD: yourgreatapp
    MYSQL_HOST: ""

  mem_limit: 1000000000
  volumes:
    - ./db/init.d:/docker-entrypoint-initdb.d
  ports:
    - "33333:3306"

elasticsearch:
  image: "elasticsearch:1.3"

memcached:
  image: memcached
